:root {
  --bs-body-font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', monospace !important;
}

@font-face {
  font-family: 'Hagrid';
  src: url('../public/fonts/hagrid/Blacknorthdemo-mLE25.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
